<div class="fluid-container">
  <div class="jumbotron">
    <div class="container mt-3">
      <h2>Our Team</h2>
      <div class="media border p-3">
        <img src="../../assets\images\ghost.jpg" alt="Usama" class="mr-3 mt-3 rounded-circle" style="width:60px;">
        <div class="media-body">
          <h4>Usama</h4>
          <p>Team Lead @ <span style="color:crimson">Starter Organization</span><br>
          bscs.f16.m43@gmail.com
          </p>   
        </div>
      </div>
    </div>

    <div class="container mt-3">
        <div class="media border p-3">
          <img src="../../assets\images\Sk4.jpeg" alt="Naveed" class="mr-3 mt-3 rounded-circle" style="width:60px;">
          <div class="media-body">
            <h4>Naveed Ali</h4>
            <p>Logo Designer @ <span style="color:crimson">Starter.org</span><br>
              bscs.f16.a.27@gmail.com
            </p>      
          </div>
        </div>
      </div>
  </div>
  <footer class="text-center bg-success text-danger font-italic "> &copy; 2019 Starter All Rights Reserved </footer>
</div>